.section#websites-section {
    background: $greyLight;
    padding-bottom: 30px;
    a.website {
        @extend .card;
        img {
            float: none !important;
            display: block;
            margin: 0 !important;
        }
        span {
            display: block;
            padding: 30px;
        }
    }
}