.card {
    display: block;
    margin-bottom: 30px;
    text-decoration: none;
    color: black;
    background-color: white;
    box-shadow: $shadow;
    transition: $shadowTransition, opacity .3s;
    &.featured {
        position: relative;
        background: #f4f4f4;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 6px;
            background: rgb(41,171,226);
            background: -moz-linear-gradient(left, #02b3e4 33%, #02ccba 100%);
            background: -webkit-linear-gradient(left, #02b3e4 33%,#02ccba 100%);
            background: linear-gradient(to right, #02b3e4 33%,#02ccba 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#02b3e4', endColorstr='#02ccba',GradientType=1 );
        }
    }
    img {
        float: left;
        margin-right: 15px;
    }
    div.image {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 300px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    p {
        margin: 0;
        padding-bottom: 15px;
    }
    &:not(.no-hover) {
        &:hover {
            box-shadow: $shadowLarge;
            opacity: .7;
        }
    }
    &:after {
        content: '';
        display: table;
        clear: both;
    }
    @media (max-width: 600px) {
        img {
            display: block;
            float: none;
            width: 100%;
            margin: 0;
        }
        div.image {
            position: relative;
            top: auto;
            bottom: auto;
            left: auto;
            width: 100%;
            
        }
    }
}